<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <ul>
      <li v-for="(fruit, idx) in fruits">{{idx}} - {{fruit}}</li>
    </ul>
    <ul>
      <li v-for="(todo, idx) in todos">{{idx}} - {{todo.context}}</li>
    </ul>
    <ul>
      <li v-for="(todo, idx) in todos" v-if="!todo.completed">{{idx}} - {{todo.context}}</li>
    </ul>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        fruits: ['apple', 'banana', 'coconut'],
        todos: [
          {id: 1, context: '점심먹기', completed: false},
          {id: 2, context: '커피먹기', completed: true},
          {id: 3, context: '낮잠자기', completed: false},
        ],
      },
    })
  </script>
</body>
</html>